{%- extends "base.j2" -%}
{%- block page_title -%}Other Research Projects{%- endblock -%}
{%- block content -%}
<section>
    <header class="major">
        <h1 class="h2">Under Construction</h1>
    </header>
</section>
{%- endblock -%}