{% extends "base.j2" %}

{% block page_title %}Student News{% endblock %}

{% block content %}
<section>
    <header class="major">
        <h2>Student News</h2>
    </header>
    <div class="row">
        <div class="col-6 col-12-medium">
            <div class="table-wrapper">
                <table>
                    <tr>
                        <td><b>05/27/2021</b></td>
                        <td>Yonathan will be starting a full-time IT position at Predicine.</a></td>
                    </tr>
                    <tr>
                        <td><b>05/27/2021</b></td>
                        <td>Jordan will be attending the UC Davis School of Medicine in the Fall!</a></td>
                    </tr>
                    <tr>
                        <td><b>05/21/2021</b></td>
                        <td>Darcy & Cassie were both selected for the <a
                                href="https://sites.google.com/mail.fresnostate.edu/bamm/home?authuser=0"
                                target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">BAMM!
                                program</a>. They will both be pursuing a Master's degree in Mathematics in the Fall.
                            Darcy has chosen to attend San Francisco State and Cassie will be joining fellow Stan State
                            alumni at Fresno State.</td>
                    </tr>
                    <tr>
                    <tr>
                        <td><b>05/21/2021</b></td>
                        <td>Luke will be attending the <a href=" https://lasbest.usc.edu/about/" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">University of Southern
                                California Biostatistics Education Summer Training Program.</a></td>
                    </tr>
                    <tr>
                        <td><b>05/05/2021</b></td>
                        <td>Jesselynn gave flash talks at the College of Science Research Celebration and RISE Research
                            Celebration.</td>
                    </tr>
                    <tr>
                        <td><b>05/04/2021</b></td>
                        <td>Jasmin was accepted into the <a href="https://geometrynyc.wixsite.com/polymathreu"
                                target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">Polymath
                                REU program</a>.</td>
                    </tr>
                    <tr>
                        <td><b>04/24/2021</b></td>
                        <td>Aaron & Sherly gave a fantastic talk at the PUMP URG Symposium.</a>.</td>
                    </tr>
                    <tr>
                        <td><b>04/12/2021</b></td>
                        <td>Laura & Ashley have been accepted into the Stan State Single Subject Credential Program.
                        </td>
                    </tr>
                    <tr>
                        <td><b>03/27/2021</b></td>
                        <td>Sherly was accepted to be an intern for the <a
                                href="https://education.lbl.gov/internships/vfp/" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Visiting Faculty Program
                                at Lawrence Berkeley National Laboratory</a>.</td>
                    </tr>
                    <tr>
                        <td><b>03/10/2021</b></td>
                        <td>Arlena was accepted into the Mathematics Sin Fronteras billingual extracurricular math
                            outreach lecture series hosted by Brown University.</td>
                    </tr>
                    <tr>
                        <td><b>03/02/2021</b></td>
                        <td>Joseph was accepted into the 2021 Cal-Bridge Summer (CAMPARE) program working with the
                            CAMPARE HERA Astronomy Minority Partnership (CHAMP).</td>
                    </tr>
                    <tr>
                        <td><b>02/12/2021</b></td>
                        <td>Jesselynn was the first author on a publication titled <a
                                href="https://www.liebertpub.com/doi/10.1089/zeb.2020.1951" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">TAEL 2.0: An Improved
                                Optogenetic Expression for Zebrafish</a> that was featured on the cover of the Zebrafish
                            journal.</td>
                    </tr>
                    <tr>
                        <td><b>02/04/2021</b></td>
                        <td>Darcy was accepted into the Washington State University Mathematics Ph.D. Program.</td>
                    </tr>
                    <tr>
                        <td><b>02/04/2021</b></td>
                        <td>Luke was accepted into the University of Washington Applied Mathematics Master's Program.
                        </td>
                    </tr>
                    <tr>
                        <td><b>01/23/2021</b></td>
                        <td>Darcy gave a research talk at the Nebraska Conference for Undergraduate Women in
                            Mathematics.</td>
                    </tr>
                    <tr>
                        <td><b>12/01/2020</b></td>
                        <td>Ashley was accepted into the Wittengberg University Education Master's Program. There she
                            will also have the opportunity to play her last two years of college-level tennis.</td>
                    </tr>
                    <tr>
                        <td><b>11/13/2020</b></td>
                        <td>Katrina was accepted into the Stanislaus State Single Subject Credential Program.</td>
                    </tr>
                    <tr>
                        <td><b>10/31/2020</b></td>
                        <td>El&iacute;as was accepted into the <a
                                href="http://shinstitute.org/siam-cse21-broader-engagement-program/" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">SIAM 2021 Computational
                                Science and Engineering Conference Broader Engagement program</a>.</td>
                    </tr>
                    <tr>
                        <td><b>10/30/2020</b></td>
                        <td>Darcy & Juan gave a talk on our VFP research at the <a
                                href="https://apptredmath.ucmerced.edu/graduate/siam/sample-seminar" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">UC Merced's Some Applied
                                Math for People to Learn (SAMPLe)</a> seminar.</td>
                    </tr>
                    <tr>
                        <td><b>10/22/2020</b></td>
                        <td>Darcy & Juan gave poster presentations at the <a href="https://www.sacnas.org/"
                                target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">Society for
                                the Advancement of Chicanos, Hispanics, and Native Americans in Science (SACNAS)</a>
                            National Conference.</td>
                    </tr>
                    <tr>
                        <td><b>10/19/2020</b></td>
                        <td>Darcy was accepted to give a talk at the <a
                                href="https://www.math.unl.edu/~ncuwm/23rdAnnual/" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Nebraska Conference for
                                Undergraduate Women in Mathematics (NCUWM)</a>.
                        </td>
                    </tr>
                    <tr>
                        <td><b>10/15/2020</b></td>
                        <td>The <a href="https://www.csustan.edu/msti/robert-noyce-teacher-scholarship-program"
                                target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">Robert
                                Noyce Teacher Scholarship</a> program announced their awardees. The
                            awardees included several mathematics majors: Laura, Katrina, Natalia, and
                            MJ. Congratulations!</td>
                    </tr>
                    <tr>
                        <td><b>10/10/2020</b></td>
                        <td>Kevin & Jesselynn gave flash presentations and served on a panel at the <a
                                href="https://www.csustan.edu/STEM-success/wow-2-stem/summit" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Stan State STEM Success
                                Summit</a>.</td>
                    </tr>
                    <tr>
                        <td><b>09/21/2020</b></td>
                        <td>Darcy & Juan gave a talk about their summer research experience at Math
                            Club.</td>
                    </tr>
                    <tr>
                        <td><b>09/18/2020</b></td>
                        <td>Darcy & Juan served on a panel for the <a
                                href="https://www.csustan.edu/STEM-success/wow-2-stem/summit" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Pacific
                                Math Alliance Webinar</a> on Summer Undergraduate Research
                            Opportunities.</td>
                    </tr>
                    <tr>
                        <td><b>08/20/2020</b></td>
                        <td>Darcy & Juan were both awarded a <a
                                href="https://www.csustan.edu/office-research-sponsored-programs/sersca-program/assistantships"
                                target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">SERSCA
                                Undergraduate Assistantship.</a></td>
                    </tr>
                    <tr>
                        <td><b>Summer 2020</b></td>
                        <td>Brooklynn & Kevin participated in the virtual <a
                                href="https://geometrynyc.wixsite.com/polymathreu" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Polymath REU program</a>.
                        </td>
                    </tr>
                    <tr>
                        <td><b>Summer 2020</b></td>
                        <td>Kevin participated in the Rochester Institute of Technology REU program in
                            data science.</td>
                    </tr>
                    <tr>
                        <td><b>Summer 2020</b></td>
                        <td>Darcy & Juan participated in the <a href="https://science.osti.gov/wdts/vfp" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Visiting Faculty Program
                                (VFP)</a> (virtually) at Lawrence Berkeley National Laboratory.</td>
                    </tr>
                    <tr>
                        <td><b>Summer 2020</b></td>
                        <td>Rommell was accepted into the <a href="https://www.cpp.edu/calbridge/" target="_blank"
                                rel="noreferrer noopener external" alt="(opens in new tab)">Cal-Bridge program for
                                undergraduates</a> studying astronomy and physics.</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-6 col-12-medium">
            <h3>Have news to share? Let me know!</h3>
            <style>
                .hide {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: 1px;
                    height: 1px;
                }
            </style>

            <iframe name="hiddenFrame" class="hide">Message sent!</iframe>
            <form method="post"
                action="https://script.google.com/macros/s/AKfycbzEquIu1UWAvWdL_iYEc5vmUWyNUBoyNsJTrwUE/exec"
                target="hiddenFrame">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <input type="text" name="Student Name:" id="demo-name" value="" placeholder="Name" />
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <input type="email" name="Email Address:" id="Email Address:" value=""
                            placeholder="Stan State Email" />
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <select name="Student Type:" id="demo-category">
                            <option value="Current Stan State Student">Current Stan State Student</option>
                            <option value="Stan State Alumni">Stan State Alumni</option>
                        </select>
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <textarea name="Message:" id="demo-message"
                            placeholder="Tell me about your accomplishments here (include a date if possible)."
                            rows="6"></textarea>
                    </div>
                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Send Message" class="primary" onclick="myFunction()" /></li>
                            <script>
                                function myFunction () {
                                    alert("Response submitted! Thank you :).");
                                }
                            </script>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}