<a class='image'><img src="{{ url_for('static', filename='images/ramsey.jpg') }}" alt="Abstract pattern created by various colors of string."></a>
<h2 class='h3'>Anti-Ramsey Multiplicities</h2>
<h3 class='h4'>Advisor: <a href="https://www.sites.google.com/view/michaeltait">Dr. Michael Tait</a> &amp; <a href="https://orion.math.iastate.edu/myoung/">Dr. Michael Young</a></h3>
<h3 class='h4'>Student: <a href="https://www.linkedin.com/in/xiang-si/">Xiang Si</a>, <a href="https://www.linkedin.com/in/yunustuncbilek/">Yunus Tun&ccedil;bilek</a>, &amp; <a href="https://www.linkedin.com/in/ruifan-yang/">Ruifan Yang</a></h3>
<p>The Ramsey multiplicity constant of a graph <em>H</em> is the minimum proportion of copies of <em>H</em> in the complete graph which are monochromatic under an edge-coloring of the complete graph on <em>n</em> vertices as <em>n</em> goes to infinity. A graph <em>H</em> is called <em>r</em>-anti-common if the maximum proportion of rainbow copies of <em>H</em> in any <em>r</em>-coloring of the edges of the complete graph on <em>n</em> vertices is asymptotically achieved by taking a random coloring. We disproved the conjecture that all bipartite graphs are anti-common.</p>
<p>This research was done at the <a href="https://www.cmu.edu/math/undergrad/suami/home/index.html">Carnegie Mellon University Summer Applied Mathematics Institute (SUAMI)</a></p>
<ul class='actions'><li><a href="https://ajc.maths.uq.edu.au/pdf/73/ajc_v73_p357.pdf" class="button">PAPER</a></li></ul>
