<a class='image'><img src="{{ url_for('static', filename='images/CNN_image.png') }}" alt="Diagram of a convolutional nueral network."></a>
<h2 class='h3'>Applications of CNNs in Medical Imaging</h2>
<h3 class='h4'>Student: Sherly</h3>
<h4 class='h5'>Major: Mathematics &amp; Computer Science, Honors Project</h4>
<p>A convolutional neural network (CNN) is a deep learning algorithm commonly applied to analyze images. This project will determine parameter estimates for a variety of CNN algorithms and compare their accuracy on medical images of skin cancer.</p>
<p>This project is part of the <a href="https://www.csustan.edu/honors">Stan State Honors program</a>.</p>
