<a class='image'><img src="{{ url_for('static', filename='images/jesselynn.png') }}" alt="Migration pattern of Zebrafish embryo."></a>
<h2 class='h3'>Modeling Embryo Cell Migration and Adhesion</h2>
<h3 class='h4'>Student: Jesselynn</h3>
<h4 class='h5'>Major: Mathematics</h4>
<p>In this collaboration, I have had so much fun learning about cellular biology from Jesselynn. Jesselynn was a Lab Assistant in Dr. Stephanie Woo's lab at UC Merced while being a full-time math major at Stan State. In the Woo Lab, Jesselynn captures videos of zebrafish embryo cells migrating to uniformly spread out before coming together to form an endodermal sheet. We are using Fiji/ImageJ to obtain data from these videos which we will then analyze in Python to better understand cell migration. Jesselynn will be starting the Quantitative Systems Biology PhD Program at UC Merced in Fall 2022.</p>
<p>Jesselynn was supported by the <a href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence">Stan State RISE program</a>.</p>
<ul class='actions'><li><a href="http://stephaniewoo.ucmerced.edu/" class="button">DR. WOO'S LAB</a></li></ul>
