<article>
    <a class="image"><img src="{{ url_for('static', filename='images/gerrymandering.jpg') }}"
            alt="A map of North America with text in Russian." /></a>
    <h3>Mathematical Measures of Fairness in Legislative Districting</h3>
    <h4>Co-advisor: <a href="https://davidoffner.wordpress.com/" target="_blank" rel="noreferrer noopener external"
            alt="(opens in new tab)">Dr. David Offner</a><br />
        Students: <a href="https://www.manitoucamp.com/staff-profile/brady-gales/" target="_blank"
            rel="noreferrer noopener external" alt="(opens in new tab)">Brady Gales</a> & <a
            href="https://math.sciences.ncsu.edu/people/bgkagy/" target="_blank" rel="noreferrer noopener external"
            alt="(opens in new tab)">Bryson Kagy</a><br />Majors: Computer
        Science & Mathematics</h4>
    <p>Gerrymandering is the term used to describe the drawing of legislative districts to favor one party over
        another. Recently, many mathematicians have tried to develop mathematical tools to decide if legislative
        districts are gerrymandered, and define fair methods of districting. For example, Landau, Reid, and
        Yershov [A Fair Division Solution to the Problem of Redistricting, Social Choice and Welfare, 2008]
        propose a protocol for districting based on a two-player fair-division process, where each player is
        entitled to draw the districts for a portion of the state. We call this the LRY protocol.</p>
    <p>This research was done at the Carnegie Mellon University Summer Undergraduate Applied Mathematics
        Institute (<a href="https://www.cmu.edu/math/undergrad/suami/home/index.html" target="_blank"
            rel="noreferrer noopener external" alt="(opens in new tab)">SUAMI</a>).</p>
</article>