<article>
    <a class="image"><img src="{{ url_for('static', filename='images/shirleyandaaron.png') }}"
            alt="Tables and charts containing a sample of course enrollment numbers, average class size, and full-time equivalent students taught." /></a>
    <h3>Predictive Modeling of Mathematics Course Enrollment and Success</h3>
    <h4>Students: Aaron & Shirley<br />Majors: Mathematics</h4>
    <p>We worked with Stan State's <a href="https://www.csustan.edu/iea" target="_blank"
            rel="noreferrer noopener external" alt="(opens in new tab)">Institutional Effectiveness and
            Analytics (IEA)</a> team to study recent trends in our mathematics major courses. In recent
        semesters, the Mathematics Department has needed to offer more sections of lower and upper divison
        mathematics courses. This project applied statistical methods to analyze opportunity gaps in certain
        math major classes disagregated by gender, first-generation status, and underrepresented minority
        groups.</p>
    <p>Aaron & Shirley were both supported as a PUMP Undergraduate Research Group (URG) and through the Stan
        State <a href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence" target="_blank"
            rel="noreferrer noopener external" alt="(opens in new tab)">RISE</a>
        program.</p>
    <ul class="actions">
        <li><a href="http://www.pump-math.org/undergraduate-research-groups" target="_blank"
                rel="noreferrer noopener external" alt="(opens in new tab)" class="button">PUMP PROGRAM</a>
        </li>
    </ul>
</article>