<a class="image"><img src="{{ url_for('static', filename='images/....png') }}" alt="..." /></a>
<h2 class='h3'>Project name</h2>
<h3 class='h4'>Advisor: Project advisor(s)</h3>
<h3 class='h4'>Student: Student(s) working on the project</h3>
<h4 class='h5'>Major: Student(s) major(s)</h4>
<p>Project description/abstract</p>
<!-- delete this line to add a button
<ul class="actions">
<li><a href="#" class="button">More</a></li>
</ul>
delete this line to add a button -->