<a class='image'><img src="{{ url_for('static', filename='images/disjoint.jpg') }}" alt="Polyhedron made of strings and rope."></a>
<h2 class='h3'>Tur&aacute;n Numbers of Vertex-Disjoint Cliques in r-partite Graphs</h2>
<h3 class='h4'>Advisor: <a href="https://www.macalester.edu/mscs/facultystaff/heysse/">Dr. Kristin Heysse</a> &amp; <a href="https://orion.math.iastate.edu/myoung/">Dr. Michael Young</a></h3>
<h3 class='h4'>Student: <a href="https://math.washington.edu/people/adam-kapilow">Adam Kapilow</a> &amp; <a href="https://www.montana.edu/wise/mentorbios/AnnaSchenfisch.html">Anna Schenfisch</a></h3>
<p>The Tur&aacute;n number of two graphs <em>G</em> and <em>H</em> is the maximum number of edges in a subgraph of <em>G</em> that contains no copy of <em>H</em>. In this project, we studied the Tur&aacute;n numbers of complete <em>r</em>-partite graphs and disjoint copies of complete graphs on <em>r</em> vertices.</p>
<p>This research was done at the <a href="https://www.cmu.edu/math/undergrad/suami/home/index.html">Carnegie Mellon University Summer Undergraduate Applied Mathematics Institute (SUAMI)</a>.</p>
<ul class='actions'><li><a href="https://arxiv.org/pdf/1610.00777.pdf" class="button">PAPER</a></li></ul>
