<a class='image'><img src="{{ url_for('static', filename='images/rommell.jpg') }}" alt="Runner with a baton on crouching on a track at the starting line."></a>
<h2 class='h3'>Predictive Modeling of Track Performances</h2>
<h3 class='h4'>Student: Rommell</h3>
<h4 class='h5'>Major: Physics</h4>
<p>Rommell has a passion for running track, he was an all-star athlete in high school and even competed on Stan State's track team. <a href="athletic.net">Using data from Athletic.net</a>, we are analyzing how an athlete's 800 meter time is related to their gender, grade level, and season records for the 400 meter and/or 1600 meter. It is often believed that there are strong correlations between these events, the best 400m runners often do very well in the 800m and similarly for the 1600m. We have put this project on pause at the moment, but we have managed to get about 40,000 data points to work with so far and have started cleaning it up for analysis.</p>
<p>Rommell is in the Cal-Bridge program for undergraduates studying astronomy and/or physics.</p>
<ul class='actions'><li><a href="https://www.cpp.edu/calbridge/" class="button">CAL-BRIDGE</a></li></ul>
