<a class='image'><img src="{{ url_for('static', filename='images/kevin.jpg') }}" alt="Person holding a smartphone with the Pokemon Go application open."></a>
<h2 class='h3'>Pokemon GO! PVP Optimization</h2>
<h3 class='h4'>Advisor: Dr. Jon Brown (Bakersfield College)</h3>
<h3 class='h4'>Student: Kevin, Pablo (BC), Ed (BC)</h3>
<h4 class='h5'>Major: Computer Science</h4>
<p>This project was brought to us by Dr. Brown from Bakersfield College who I met through the <a href="https://www.pacificmathalliance.org/">Pacific Math Alliance</a>. Funny enough, Dr. Brown is also an alumnus from Stan State! He has worked with BC students in the past to apply game theory to analyze <a href="https://www.pokemongolive.com/en/">Pokemon GO!</a>. In this project, we are interested in analyzing PVP battles in which you choose three of your Pokemon to fight three of your opponent's Pokemon. You can swap between any of your three Pokemon throughout the battle and can shield against charge attacks exactly twice. The player wins if they defeat all their opponent's Pokemon, or if the match time ends and they have the most Pokemon/health remaining.</p>
<p>Kevin is supported by the <a href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence">Stan State RISE program</a>.</p>
