<a class='image'><img src="{{ url_for('static', filename='images/shirleyandaaron.png') }}" alt="Tables and charts containing a sample of course enrollment numbers, average class size, and full-time equivalent students taught."></a>
<h2 class='h3'>Predictive Modeling of Mathematics Course Enrollment and Success</h2>
<h3 class='h4'>Student: Aaron &amp; Sherly</h3>
<h4 class='h5'>Major: Mathematics</h4>
<p>We our working with <a href="https://www.csustan.edu/iea">Stan State's Institutional Effectiveness and Analytics (IEA)</a> team to study recent trends in our mathematics major courses. In recent semesters, the Mathematics Department has needed to offer more sections of lower and upper divison mathematics courses. This project aims to first apply statistical methods to analyze the recent increase in enrollment, and then we will later develop a Machine Learning model to predict enrollment rates for course offerings in the mathematics major.</p>
<p>Aaron &amp; Sherly are both supported as a PUMP Undergraduate Research Group (URG) and through the <a href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence">Stan State RISE program</a>.</p>
<ul class='actions'><li><a href="http://www.pump-math.org/undergraduate-research-groups" class="button">PUMP PROGRAM</a></li></ul>
