{% extends "base.j2" %}

{% block page_title %}Scheduled Events{% endblock %}

{% block content %}
<section>
    <header {% if debug %} class="row" {% else %} class="major" {% endif %}>
        <h1 {% if debug %} class="h2 col-9 col-6-small col-12-xsmall" {% else %} class="h2" {% endif %}>Scheduled Events
        </h1>
        {% if debug %}
        <div class="col-3 col-6-small col-12-xsmall">
            <ul class="actions stacked col-3 col-6-small col-12-xsmall">
                <li><a class="button primary fit" href="{{ url_for('events.add_event') }}">Add Event</a></li>
            </ul>
        </div>
        {% endif %}
    </header>
    {% if data %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    {% for key, value in data[0].items() %}
                    {% if key != "ID" %}
                    <th>{{ key }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data | reverse %}
                <tr {% if row.ID %}id="{{ row.ID }}" {% endif %}>
                    {% for key, value in row.items() %}
                    {% if key != "ID" %}
                    <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                    {% if debug %}
                    <td>
                        <ul class="actions special">
                            <li><a class="solid icon fa-pen button small"
                                    href="{{ url_for('events.edit_event', event_id=row.ID) }}">Edit</a></li>
                            <li><a class="solid icon fa-trash button small primary"
                                    href="{{ url_for('events.delete_event', event_id=row.ID) }}">Delete</a></li>
                        </ul>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="box col-12">
        <p>There are no scheduled events at this time. Please check back soon.</p>
    </div>
    {% endif %}
</section>
{% endblock -%}