{% extends "layout/base.j2" %}
{% block title %}Add New Project/Abstract{% endblock %}
{% block main_content %}
<section>
    <header class="major">
        <h1 class="h2">Add New Project</h1>
    </header>
    <form method="POST" action="{{ url_for('research.add_new') }}" enctype="multipart/form-data">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <label>Project Type</label>
                <i class="icon solid fa-info-circle"></i>
                Required
                <select name="type" required>
                    <option value="" disabled selected>- Select -</option>
                    <option value="project">Project</option>
                    <option value="abstract">Abstract</option>
                </select>
            </div>
            <div class="col-6 col-12-xsmall">
                <label>Project Status</label>
                <i class="icon solid fa-info-circle"></i>
                Required
                <select name="status" required>
                    <option value="" disabled selected>- Select -</option>
                    <option value="current">Current Undergraduate</option>
                    <option value="former">Former Undergraduate</option>
                </select>
            </div>
            <div class="col-12">
                <p>Please select an existing image or upload a new one.<br />If an upload is provided, any selection for
                    Option 1 will be ignored.</p>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="image">Select Image</label>
                <i class="icon solid fa-info-circle"></i>
                Option 1
                <select name="image">
                    <option value="" disabled selected>- Select -</option>
                    {% for image in image_names %}
                    <option value="{{ image }}">{{ image }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="file">Upload Image</label>
                <i class="icon solid fa-info-circle"></i>
                Option 2<br />
                Supported file types: <code>.jpg</code> <code>.pdf</code> <code>.gif</code> <code>.jpeg</code>
                <code>.png</code>
                <input type="file" name="file" />
            </div>
            <div class="col-12">
                <p>Markdown Reference
                <pre><code>**this text is bold**
*this text is italicized*
[link text](url)</code></pre>
                </p>
            </div>
            <div class="col-4 col-12-xsmall">
                <label>Advisor(s)</label>
                <i class="icon solid fa-info-circle"></i>
                Optional<br />
                Markdown is supported.
                <input type="text" name="advisor" placeholder="[Advisor Name](advisorname.com)" />
            </div>
            <div class="col-4 col-12-xsmall">
                <label>Student(s)</label>
                <i class="icon solid fa-info-circle"></i>
                Required<br />
                Markdown is supported.
                <input type="text" name="student" required placeholder="[Student Name](studentname.com)" />
            </div>
            <div class="col-4 col-12-xsmall">
                <label for="major">Major(s)</label>
                <i class="icon solid fa-info-circle"></i>
                Optional<br />
                Comma separated list of majors.
                <input type="text" name="major" placeholder="Computer Science, Mathematics" />
            </div>
            <div class="col-12">
                <label>Project Title</label>
                <i class="icon solid fa-info-circle"></i>
                Required<br />
                Markdown is supported.
                <input type="text" name="title" required />
            </div>
            <div class="col-12">
                <label>Project Description</label>
                <i class="icon solid fa-info-circle"></i>
                Required<br />
                Markdown is supported.
                <textarea name="description" required></textarea>
            </div>
            <div class="col-6 col-12-xsmall">
                <label>Button Link</label>
                <i class="icon solid fa-info-circle"></i>
                Optional<br />
                If provided, a button will be displayed linking to the provided URL.
                <input type="text" name="button_link" placeholder="[Stan State](https://www.csustan.edu)" />
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input class="primary" type="submit" value="Add Project" name="add_project" /></li>
                    <li><a href="{{ url_for('research.current_undergrad_projects') }}" class="button">Cancel</a></li>
                </ul>
            </div>
        </div>
    </form>
</section>
{% endblock %}