{% extends "layout/base.j2" %}
{% block title %}Current Undergraduate Abstracts{% endblock %}
{% block main_content %}
<section>
    <header class="major">
        <h1 class="h2">Current Undergraduate Abstracts</h1>
    </header>
    <div class="posts">

        {% if project_names %}
        {% for project in project_names %}
        <article id="{{ project }}">
            {% include "abstracts/{}.j2".format(project) %}
        </article>
        {% endfor %}
        {% endif %}

    </div>
</section>
{% endblock %}