{% extends "layout/base.j2" %}

{% block title %}Electric Vehicle Charging Poster{% endblock %}

{% block main_content %}

<section>
    <embed src="{{ url_for('static', filename='images/ev_charging_poster.pdf') }}" width=100% height=1000px
        alt="(PDF File)">
</section>

{% endblock %}