{% extends "layout/base.j2" %}
{% block title %}Former Undergraduate Projects{% endblock %}
{% block main_content %}
<section>
    <header class="major">
        <h1>Former Undergraduate Projects</h1>
    </header>
    <div class="posts">

        {% if project_names %}
        {% for project in project_names %}
        <article>
            {% include "projects/{}.j2".format(project) %}
        </article>
        {% endfor %}
        {% endif %}

    </div>
</section>
{% endblock %}