{% extends "layout/base.j2" %}

{% block title %}Former Undergraduate Projects{% endblock %}

{% block main_content %}

<section>
    <header class="major">
        <h2>Former Undergraduate Projects</h2>
    </header>
    <div class="posts">
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/campusmap.png') }}"
                    alt="A map of the California State University Stanislaus campus." /></a>
            <h3>Analysis of Campus Walking Times</h3>
            <h4>Co-advisor: Dr. Curtis Pro</h4>
            <h4>Students: Andrew, Sam, Felice, Morgan, Teresa, Jonathan, Jasmin, & Juan<br>Majors: Computer Science,
                Chemistry, Chemistry, Physics, Mathematics, Computer Science, Mathematics, & Mathematics</h4>
            <p>If you signed up fro two MWF classes back-to-back, you have approximately ten minutes to travel from one
                course location to the next. This time constraint induces student traffic across campus and can result
                in consistent tardiness. We collected data to approximate the typical walking speed of a Stan State
                student and used this to produce the average time it will take to walk between pairs of buildings on
                campus. Our data suggests that you may be late for you next class if you are a slow walker or if walking
                paths are congested.</p>
            <ul class="actions">
                <li><a href="{{ url_for('research.walking_time_poster') }}" class="button">POSTER</a></li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/gerrymandering.jpg') }}"
                    alt="A map of North America with text in Russian." /></a>
            <h3>Mathematical Measures of Fairness in Legislative Districting</h3>
            <h4>Co-advisor: <a href="https://davidoffner.wordpress.com/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Dr. David Offner</a><br>
                Students: <a href="https://www.manitoucamp.com/staff-profile/brady-gales/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Brady Gales</a> & <a
                    href="https://math.sciences.ncsu.edu/people/bgkagy/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Bryson Kagy</a><br>Majors: Computer
                Science & Mathematics</h4>
            <p>Gerrymandering is the term used to describe the drawing of legislative districts to favor one party over
                another. Recently, many mathematicians have tried to develop mathematical tools to decide if legislative
                districts are gerrymandered, and define fair methods of districting. For example, Landau, Reid, and
                Yershov [A Fair Division Solution to the Problem of Redistricting, Social Choice and Welfare, 2008]
                propose a protocol for districting based on a two-player fair-division process, where each player is
                entitled to draw the districts for a portion of the state. We call this the LRY protocol.</p>
            <p>This research was done at the Carnegie Mellon University Summer Undergraduate Applied Mathematics
                Institute (<a href="https://www.cmu.edu/math/undergrad/suami/home/index.html" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">SUAMI</a>).</p>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/disjoint.jpg') }}"
                    alt="Polyhedron made of strings and rope." /></a>
            <h3>Tur&aacute;n Numbers of Vertex-Disjoint Cliques in r-partite Graphs</h3>
            <h4>Co-advisors: <a href="https://www.macalester.edu/mscs/facultystaff/heysse/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Dr. Kristin Heysse</a> & <a
                    href="https://orion.math.iastate.edu/myoung/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Dr. Michael Young</a><br>
                Students: <a href="https://math.washington.edu/people/adam-kapilow" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Adam Kapilow</a> & <a
                    href="https://www.montana.edu/wise/mentorbios/AnnaSchenfisch.html" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Anna Schenfisch</a><br></h4>
            <p>The Tur&aacute;n number of two graphs <i>G</i> and <i>H</i> is the maximum number of edges in a subgraph
                of <i>G</i> that contains no copy of <i>H</i>. In this project, we studied the Tur&aacute;n numbers of
                complete <i>r</i>-partite graphs and disjoint copies of complete graphs on <i>r</i> vertices.</p>
            <p>This research was done at the Carnegie Mellon University Summer Undergraduate Applied Mathematics
                Institute (<a href="https://www.cmu.edu/math/undergrad/suami/home/index.html" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">SUAMI</a>).</p>
            <ul class="actions">
                <li><a href="https://arxiv.org/pdf/1610.00777.pdf" target="_blank" rel="noreferrer noopener external"
                        alt="(opens PDF File in new tab)" class="button">PAPER</a></li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/ramsey.jpg') }}"
                    alt="Abstract pattern created by various colors of string." /></a>
            <h3>Anti-Ramsey Multiplicities</h3>
            <h4>Co-advisors: <a href="https://www.sites.google.com/view/michaeltait" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Dr. Michael Tait</a> & <a
                    href="https://orion.math.iastate.edu/myoung/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Dr. Michael Young</a><br>
                Students: <a href="https://www.linkedin.com/in/xiang-si/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Xiang Si</a>, <a
                    href="https://www.linkedin.com/in/yunustuncbilek/" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Yunus Tun&ccedil;bilek</a>, & <a
                    href="https://www.linkedin.com/in/ruifan-yang/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Ruifan Yang</a></h4>
            <p>The Ramsey multiplicity constant of a graph <i>H</i> is the minimum proportion of copies of <i>H</i> in
                the complete graph which are monochromatic under an edge-coloring of the complete graph on <i>n</i>
                vertices as <i>n</i> goes to infinity. A graph <i>H</i> is called <i>r</i>-anti-common if the maximum
                proportion of rainbow copies of <i>H</i> in any <i>r</i>-coloring of the edges of the complete graph on
                <i>n</i> vertices is asymptotically achieved by taking a random coloring. We disproved the conjecture
                that all bipartite graphs are anti-common.
            </p>
            <p>This research was done at the Carnegie Mellon University Summer Undergraduate Applied Mathematics
                Institute (<a href="https://www.cmu.edu/math/undergrad/suami/home/index.html" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">SUAMI</a>).</p>
            <ul class="actions">
                <li><a href="https://ajc.maths.uq.edu.au/pdf/73/ajc_v73_p357.pdf" target="_blank"
                        rel="noreferrer noopener external" alt="(opens PDF File in new tab)" class="button">PAPER</a>
                </li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/darcyandjuan.png') }}"
                    alt="Abstract image of a circle with overlapping shapes." /></a>
            <h3>Hypergraph-Based Image Segmentation</h3>
            <h4>Students: Darcy & Juan<br>Majors: Mathematics</h4>
            <p>During the summer of 2020, we had the opportunity to participate in the <a
                    href="https://science.osti.gov/wdts/vfp" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Visiting Faculty Program (VFP)</a> at Lawrence Berkeley
                National Laboratory. During this 10 week program, we worked under <a
                    href="https://tperciano.wixsite.com/home" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Talita Perciano</a> from the Data Analytics and
                Visualization research group at LBNL. I met Talita when I participated in the <a
                    href="http://shinstitute.org/srp-application/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Sustainable Research Pathways Workshop</a>. Although
                a virtual summer research program wasn't ideal, we still had a lot of fun learning about graph theory,
                image segmentation, and how to code in C++.</p>
            <p>The following semester, both Darcy and Juan were supported by the Stan State <a
                    href="https://www.csustan.edu/office-research-sponsored-programs/sersca-program" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">SERSCA</a> program.
            </p>
            <ul class="actions">
                <li><a href="current_ugrad_projects_abstract.html" target="_blank" rel="noreferrer noopener external"
                        alt="(opens in new tab)" class="button">Abstract</a></li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/andrewandjasmin.jpg') }}"
                    alt="HTML file open in a text editor." /></a>
            <h3>Mean-Shift Clustering in C++</h3>
            <h4>Students: Andrew & Jasmin<br>Majors: Computer Science & Mathematics</h4>
            <p>In the VFP image segmentation algorithm, we applied the k-means clustering algorithm to create the
                hypergraph model for the image. In other hypergraph-based segmentation algorithms, mean-shift clustering
                also produced great results. However, we did not find a suitable C++ implementation of the mean-shift
                algorithm. Andrew and Jasmin worked together to understand the Python implementation of the mean-shift
                algorithm and bandwidth approximation in order to reproduce it in C++. We hope to then be able to
                incorporate this in the image segmentation algorithm and compare results to that of the k-means version.
            </p>
            <p>Andrew and Jasmin were both supported by <a href="https://www.csustan.edu/AMP/join" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">CSU-LSAMP</a>.</p>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/kevin.jpg') }}"
                    alt="Person holding a smartphone with the Pokemon Go application open." /></a>
            <h3>Pokemon GO! PVP Optimization</h3>
            <h4>Co-Advisor: Dr. Jon Brown (Bakersfield College)<br>
                Students: Kevin, Pablo (BC), Ed (BC)<br>Majors: Computer Science</h4>
            <p>This project was brought to us by Dr. Brown from Bakersfield College who I met through the <a
                    href="https://www.pacificmathalliance.org/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Pacific Math Alliance</a>. Funny enough, Dr. Brown is
                also an alumnus from Stan State! He has worked with BC students in the past to apply game theory to
                analyze <a href="https://www.pokemongolive.com/en/" target="_blank" rel="noreferrer noopener external"
                    alt="(opens in new tab)">Pokemon GO!</a>. In this project, we were interested
                in analyzing PVP battles in which you choose three of your Pokemon to fight three of your opponent's
                Pokemon. You can swap between any of your three Pokemon throughout the battle and can shield against
                charge attacks exactly twice. The player wins if they defeat all their opponent's Pokemon, or if the
                match time ends and they have the most Pokemon/health remaining.</p>
            <p>Kevin was supported by the Stan State <a
                    href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">RISE</a> program.
            </p>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/jesselynn.png') }}"
                    alt="Migration pattern of Zebrafish embryo." /></a>
            <h3>Modeling Embryo Cell Migration and Adhesion</h3>
            <h4>Student: Jesselynn<br>Major: Mathematics</h4>
            <p>In this collaboration, I have had so much fun learning about cellular biology from Jesselynn. Jesselynn
                was a Lab Assistant in Dr. Stephanie Woo's lab at UC Merced while being a full-time math major at Stan
                State. In the Woo Lab, Jesselynn captures videos of zebrafish embryo cells migrating to uniformly spread
                out before coming together to form an endodermal sheet. We are using Fiji/ImageJ to obtain data from
                these videos which we will then analyze in Python to better understand cell migration. Jesselynn will be
                starting the Quantitative Systems Biology PhD Program at UC Merced in Fall 2022.</p>
            <p>Jesselynn was supported by the Stan State <a
                    href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">RISE</a> program.
            </p>
            <ul class="actions">
                <li><a href="http://stephaniewoo.ucmerced.edu/" target="_blank" rel="noreferrer noopener external"
                        alt="(opens in new tab)" class="button">DR. WOO'S LAB</a></li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/shirleyandaaron.png') }}"
                    alt="Tables and charts containing a sample of course enrollment numbers, average class size, and full-time equivalent students taught." /></a>
            <h3>Predictive Modeling of Mathematics Course Enrollment and Success</h3>
            <h4>Students: Aaron & Shirley<br>Majors: Mathematics</h4>
            <p>We worked with Stan State's <a href="https://www.csustan.edu/iea" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Institutional Effectiveness and
                    Analytics (IEA)</a> team to study recent trends in our mathematics major courses. In recent
                semesters, the Mathematics Department has needed to offer more sections of lower and upper divison
                mathematics courses. This project applied statistical methods to analyze opportunity gaps in certain
                math major classes disagregated by gender, first-generation status, and underrepresented minority
                groups.</p>
            <p>Aaron & Shirley were both supported as a PUMP Undergraduate Research Group (URG) and through the Stan
                State <a href="https://www.csustan.edu/STEM-success/research-and-immersion-stem-excellence"
                    target="_blank" rel="noreferrer noopener external" alt="(opens in new tab)">RISE</a>
                program.</p>
            <ul class="actions">
                <li><a href="http://www.pump-math.org/undergraduate-research-groups" target="_blank"
                        rel="noreferrer noopener external" alt="(opens in new tab)" class="button">PUMP PROGRAM</a>
                </li>
            </ul>
        </article>
        <article>
            <a class="image"><img src="{{ url_for('static', filename='images/rommell.jpg') }}"
                    alt="Runner with a baton on crouching on a track at the starting line." /></a>
            <h3>Predictive Modeling of Track Performances</h3>
            <h4>Student: Rommell<br>Major: Physics</h4>
            <p>Rommell has a passion for running track, he was an all-star athlete in high school and even competed on
                Stan State's track team. Using data from <a href="athletic.net" target="_blank"
                    rel="noreferrer noopener external" alt="(opens in new tab)">Athletic.net</a>, we analyzed how an
                athlete's 800 meter time is related to their gender, grade level, and season records for the 400 meter
                and/or 1600 meter. It is often believed that there are strong correlations between these events, the
                best 400m runners often do very well in the 800m and similarly for the 1600m. Although Rommell has since
                graduated with his Physics & Astronomy undergraduate degree from Stan State, he is continuing to work on
                this project while working in a Physics Lab at UC Santa Barbara.</p>
            <p>Rommell was in the Cal-Bridge program for undergraduates studying astronomy and/or physics.</p>
            <ul class="actions">
                <li><a href="https://www.cpp.edu/calbridge/" target="_blank" rel="noreferrer noopener external"
                        alt="(opens in new tab)" class="button">CAL-BRIDGE</a></li>
            </ul>
        </article>
    </div>
</section>

{% endblock %}