{% extends "layout/base.j2" %}

{% block title %}Other Research Projects{% endblock %}

{% block main_content %}

<section>
    <header class="major">
        <h2>Under Construction</h2>
    </header>
</section>

{% endblock %}