{% extends "layout/base.j2" %}
{% block title %}Other Research Projects{% endblock %}
{% block main_content %}
<section>
    <header class="major">
        <h1 class="h2">Under Construction</h1>
    </header>
</section>
{% endblock %}