{% extends "layout/base.j2" %}

{% block title %}Walking Time Poser{% endblock %}

{% block main_content %}

<section>
    <embed src="{{ url_for('static', filename='images/WalkingTimePoster.pdf') }}" width=100% height=1000px
        alt="(PDF File)">
</section>

{% endblock %}