{% extends "layout/base.j2" %}

{% block title %}Walking Time Poser{% endblock %}

{% block main_content %}

<section>
    <embed src="images/WalkingTimePoster.pdf" width=100% height=1000px alt="(PDF File)">
</section>

{% endblock %}