{% macro render_field(field) %}

{{ field.label }}
{{ field(**kwargs) }}

{% if field.errors %}
<ul class="contact">
    {% for error in field.errors %}
    <li class="icon solid fa-times">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endmacro %}