<!DOCTYPE html>
<html lang="en-US">

    <head>
        <!-- Required meta tas -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- Page title -->
        <title>
            {% block title %} {% endblock %}
        </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

        <!-- Additional Styling -->
        {% block additional_styling %} {% endblock %}
    </head>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
            <div id="main">
                <div id="inner">

                    <!-- Header -->
                    <header id="header">
                        <a href="{{ url_for('core.home') }}" class="logo"><strong>Dr. Jessica De
                                Silva</strong> California State University, Stanislaus</a>
                        <ul class="icons">
                            <li><img src="{{ url_for('static'), filename='images/stanlogo.png' }}" width="10%"
                                    alt="California State University, Stanislaus shield logo." /></li>
                        </ul>
                    </header>

                    <!-- Main Content -->
                    {% block main_content %} {% endblock %}

                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menu</h2>
                        </header>
                        <ul>
                            <li><a href="{{ url_for('core.home') }}">Homepage</a></li>
                            <li>
                                <span class="opener">Events</span>
                                <ul>
                                    <li><a href="{{ url_for('events.events') }}">Upcoming Events</a></li>
                                    <li><a href="{{ url_for('events.past_events') }}">Past Events</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('core.'student_news) }}"></a>Student News</li>
                            <li>
                                <span class="opener">Research</span>
                                <ul>
                                    <li><a href="{{ url_for('current_undergrad_projects') }}">Current
                                            Undergraduate Projects</a></li>
                                    <li><a href="{{ url_for('former_undergrad_projects') }}">Former
                                            Undergraduate Projects</a></li>
                                    <li><a href="{{ url_for('other_research_projects') }}">Other Projects</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="opener">Mentorship Groups</span>
                                <ul>
                                    <li><a href="{{ url_for('mentor_groups_math') }}">For Mathematics</a></li>
                                    <li><a href="{{ url_for('mentor_groups_stan') }}">For Stan State
                                            Students</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ url_for('core.about') }}">About Me</a></li>
                        </ul>
                    </nav>

                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>Get in touch</h2>
                        </header>
                        <ul class="contact">
                            <li class="icon solid fa-envelope"><a href="">jdesilva1[at]csustan.edu</a></li>
                        </ul>
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Jessica De Silva's Homepage. All rights reserved. Design:
                            <a href="https://html5up.net">HTML5 UP</a>.
                        </p>
                    </footer>

                </div>
            </div>

        </div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>

</html>