<!DOCTYPE html>
<!--
    Modified version of Editorial by HTML5 UP <https://html5up.net/editorial>
    Adapted by Jessica De Silva <https://github.com/jessicadesilva>
    Converted to Flask project by August Frisk <https://github.com/4N0NYM0U5MY7H>

    Original version information:
    Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license <https://html5up.net/license>
-->
<html lang="en-US">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>
            {%- block page_title -%}{%- endblock -%}
        </title>

        <!-- Local CSS file for styling the application -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <!-- Additional styling -->
        {%- block css -%}{%- endblock -%}
    </head>

    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <!-- Header -->
                    {%- include "header.j2" -%}
                    <!-- Messages -->
                    {%- include "messages.j2" -%}
                    <!-- Main Content -->
                    {%- block content -%}{%- endblock -%}
                </div>
            </div>
            <!-- Sidebar -->
            {%- include "sidebar.j2" -%}
        </div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- Additional scripts -->
        {%- block js -%}{%- endblock -%}
    </body>

</html>