{% extends "layout/base.html" %}

{% block title %}Jessica De Silva's CV{% endblock %}

{% block main_content %}

<section>
    <embed src="{{ url_for('static', filename='images/DeSilvaCV.pdf') }}" width=100% height=1000px alt="(PDF file)">
</section>

{% endblock %}