{% extends "layout/base.j2" %}
{% block title %}Past Events{% endblock %}
{% block main_content %}
<section>
    <header class="major">
        <h1 class="h2">Past Events</h1>
    </header>
    {% if data %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    {% for key, value in data[0].items() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for key, value in row.items() %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            {% if updated %}
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Updated on {{ updated }}.</td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
    {% endif %}
</section>
{% endblock %}