{% extends "layout/base.j2" -%}
{%- block title %}Upcoming Events{% endblock -%}
{%- block main_content %}
<section>
    <div class="row gtr-uniform">
        <header class="major col-9 col-6-small col-12-xsmall">
            <h1 class="h2">Upcoming Events</h1>
        </header>
        <div class="col-3 col-6-small col-12-xsmall">
            <a class="button primary" href="{{ url_for('events.add_event') }}">Add Event</a>
        </div>
    </div>
    {%- if data %}
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    {%- for key, value in data[0].items() -%}
                    {%- if key != "ID" %}
                    <th>{{ key }}</th>
                    {%- endif -%}
                    {%- endfor %}
                </tr>
            </thead>
            <tbody>
                {%- for row in data | reverse %}
                <tr {% if row.ID %}id="{{ row.ID }}" {%- endif %}>
                    {%- for key, value in row.items() %}
                    {%- if key != "ID" %}
                    <td>{{ value }}</td>
                    {%- endif -%}
                    {%- endfor %}
                </tr>
                {%- endfor %}
            </tbody>
            {%- if updated %}
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>Updated on {{ updated }}.</td>
                </tr>
            </tfoot>
            {%- endif %}
        </table>
    </div>
    {%- else %}
    <div class="box col-12">
        <p>There are no scheduled events at this time. Please check back soon.</p>
    </div>
    {%- endif %}
</section>
{% endblock -%}