name: Build and Deploy

on:
  push:
    branches:
        - master
  pull_request:
    branches:
        - master

  # Run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      branch:
        description: 'Target branch for deployment'
        required: true
        default: 'gh-pages'
      folder:
        description: 'Folder to deploy'
        required: true
        default: 'website/build'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Initialize Flask .env file
      run: "python init_env.py"
    - name: Build static site with Frozen-Flask
      run: "python build.py"
    - name: Upload Artifacts
      uses: actions/upload-artifact@v1
      with:
        name: site
        path: website/build
  
  deploy:
    concurrency: ci-${{ github.ref }}
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Download Artifacts
      uses: actions/download-artifact@v1
      with:
        name: website
    - name: Deploy to gh-pages
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with:
        branch: gh-pages
        folder: "site"
