name: CI/CD Tests

on:
    push:
        branches:
            - master
        tags:
            - "*"
    pull_request:
        branches:
            - "*"

jobs:
    tests_run:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                os:
                    - ubuntu-latest
                    - windows-latest
                    - macos-latest
                python:
                    - "3.8"
                    - "3.9"
                    - "3.10"
                    - "3.11"
                    - "3.12"
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install tox
            - name: Project internals test build
              run: "tox -e py${{ matrix.python }}"
            - name: Send coverage report to codeclimate
              continue-on-error: true
              uses: paambaati/codeclimate-action@v5
              with:
                coverageCommand: echo "Ignore rerun"
                coverageLocations: ${{ github.workspace }}/coverage.xml:coverage.py
              env:
                CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v3
              env:
                CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
                env_vars: OS=${{ matrix.os }},PYTHON=${{ matrix.python }}
                file: ./coverage.xml
